datacenter = "{{ datacenter }}"
region     = "{{ region }}"
data_dir   = "{{ nomad_client_data_dir }}"
bind_addr  = "0.0.0.0"

advertise {
  http = "{{ tailscale_ip }}"
  rpc  = "{{ tailscale_ip }}"
  serf = "{{ tailscale_ip }}"
}

client {
  enabled   = true
  node_pool = "compute"
  servers   = ["{{ nomad_server_addr }}:4647"]
{% if nomad_host_volumes is defined %}

{% for volume in nomad_host_volumes %}
  host_volume "{{ volume.name }}" {
    path      = "{{ volume.path }}"
    read_only = {{ volume.read_only | lower }}
  }
{% endfor %}
{% endif %}
}

plugin "docker" {
  config {
    allow_privileged = true
    volumes {
      enabled = true
    }
  }
}

plugin "raw_exec" {
  config {
    enabled = true
  }
}
