datacenter = "{{ datacenter }}"
region     = "{{ region }}"
data_dir   = "{{ nomad_data_dir }}"

server {
  enabled = false
}

client {
  enabled = true
  servers = ["{{ nomad_server_addr }}:4647"]

  options = {
    "docker.privileged.enabled" = "true"
    "driver.raw_exec.enable"    = "1"
    "docker.volumes.enabled"    = "true"
  }

  meta {
    node = "{{ inventory_hostname }}"
  }
}

plugin "docker" {
  config {
    allow_caps = [
      "CHOWN", "DAC_OVERRIDE", "FSETID", "FOWNER", "MKNOD",
      "NET_RAW", "SETGID", "SETUID", "SETFCAP", "SETPCAP",
      "NET_BIND_SERVICE", "SYS_CHROOT", "KILL", "AUDIT_WRITE",
      "NET_ADMIN"
    ]
    allow_privileged = true
    volumes {
      enabled = true
    }
  }
}
