---
title: HomeLab Dashboard
favicon: https://cdn.jsdelivr.net/gh/walkxcode/dashboard-icons/png/heimdall.png
theme: dark
color: slate
headerStyle: clean
layout:
  Infrastructure:
    style: row
    columns: 4
  Media:
    style: row
    columns: 2
  Downloads:
    style: row
    columns: 2
  Media Management:
    style: row
    columns: 3
  Monitoring:
    style: row
    columns: 4
