version: "3.8"

# Lidarr - Music Collection Manager
#
# Like Radarr/Sonarr but for music

services:
  lidarr:
    image: linuxserver/lidarr:latest
    container_name: lidarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Copenhagen
    volumes:
      - /mnt/user/appdata/lidarr:/config
      - /mnt/user/data:/data
    ports:
      - 8686:8686
    restart: unless-stopped
