---
# Setup server: Consul, Vault, Nomad (server + client)
# Prerequisite: Tailscale configured
#
# Usage: ansible-playbook -i inventory/hosts.yml setup-server.yml

- name: Setup HomeLab server
  hosts: servers
  become: true

  pre_tasks:
    - name: Verify Tailscale is running
      command: tailscale status
      changed_when: false

  roles:
    - consul
    - vault
    - nomad

  post_tasks:
    - name: Show URLs
      debug:
        msg: |
          Consul: http://{{ ansible_default_ipv4.address }}:8500
          Vault:  http://{{ ansible_default_ipv4.address }}:8200
          Nomad:  http://{{ ansible_default_ipv4.address }}:4646
