datacenter = "{{ datacenter }}"
data_dir   = "{{ nomad_data_dir }}"
bind_addr  = "0.0.0.0"
region     = "{{ region }}"

advertise {
  http = "{{ ansible_default_ipv4.address }}"
  rpc  = "{{ ansible_default_ipv4.address }}"
  serf = "{{ ansible_default_ipv4.address }}"
}

server {
  enabled          = true
  bootstrap_expect = 1
}

client {
  enabled = true

  options = {
    "docker.privileged.enabled" = "true"
    "driver.raw_exec.enable"    = "1"
    "docker.volumes.enabled"    = "true"
  }

  host_volume "config" {
    path      = "{{ config_volumes_dir }}"
    read_only = false
  }

  host_volume "downloads" {
    path      = "{{ downloads_dir }}"
    read_only = false
  }

  host_volume "media" {
    path      = "{{ media_dir }}"
    read_only = false
  }

  meta {
    node         = "{{ inventory_hostname }}"
    shared_mount = "true"
  }

  host_network "tailscale" {
    cidr = "100.0.0.0/8"
  }

  host_network "lan" {
    cidr = "192.168.0.0/16"
  }
}

plugin "docker" {
  config {
    allow_caps = [
      "CHOWN", "DAC_OVERRIDE", "FSETID", "FOWNER", "MKNOD",
      "NET_RAW", "SETGID", "SETUID", "SETFCAP", "SETPCAP",
      "NET_BIND_SERVICE", "SYS_CHROOT", "KILL", "AUDIT_WRITE",
      "NET_ADMIN"
    ]
    allow_privileged = true
    volumes {
      enabled = true
    }
  }
}

consul {
  address = "127.0.0.1:8500"
}

vault {
  enabled = true
  address = "http://127.0.0.1:8200"
}
